<div class="row">
	
	<div class="span3">
		<%= erb :'admin/navigation', layout: false %>
	</div>
	
	<div class="span9">

		<H1 class="page-header">Users</H1>
		<form class="form-search pull-right" method="get" action="/admin/users">
			<div class="input-append">
			<input type="text" class="input-xlarge search-query" name="search" value="<%= params[:search] %>" />
			<button type="submit" style="border: 1px solid green;" class="btn btn-success ">Search</button>
		</div>
		</form>

		<table class="table table-condensed table-striped table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Expires</th>
					<!-- <td> </td> -->
					<th style="text-align: right;"><a class="btn btn-mini btn-success" href="/admin/users/new"><i class="icon-plus icon-white"></i></a></th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td>
							<%= user.name %> <%= '<span class="label label-inverse pull-right"><small>Admin</small></span>' if user.admin? %>
						</td>
						<td>	
							<a href="mailto:<%= user.email %>"><%= user.email %></a>
						</td>
						<td>
							<small><%= user.expiration_date %> </small>
						</td>
						<td style="text-align: right;">
							<% if user.email == "sample" %>
							<a href="/admin/users/<%= user.id %>/remove_sample">Remove</a>
							<% else %>
							<a href="/admin/users/<%= user.id %>">Edit</a>
							<% end %>
						</td>
					</tr>
					
				<% end %>
		  </tbody>
		</table>
	</div>
	
</div>

