<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 4.A. Collaborate with client to establish treatment goals and objectives' %> value="Sub-Domain 4.A. Collaborate with client to establish treatment goals and objectives">Sub-Domain 4.A. Collaborate with client to establish treatment goals and objectives</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 4.B. Establish short- and long-term counseling goals consistent with client’s diagnosis' %> value="Sub-Domain 4.B. Establish short- and long-term counseling goals consistent with client’s diagnosis">Sub-Domain 4.B. Establish short- and long-term counseling goals consistent with client’s diagnosis</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 4.C. Identify barriers affecting client goal attainment' %> value="Sub-Domain 4.C. Identify barriers affecting client goal attainment">Sub-Domain 4.C. Identify barriers affecting client goal attainment</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 4.D. Identify strengths that improve the likelihood of goal attainment' %> value="Sub-Domain 4.D. Identify strengths that improve the likelihood of goal attainment">Sub-Domain 4.D. Identify strengths that improve the likelihood of goal attainment</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 4.E. Refer to different levels of treatment (e.g., outpatient, inpatient, residential)' %> value="Sub-Domain 4.E. Refer to different levels of treatment (e.g., outpatient, inpatient, residential)">Sub-Domain 4.E. Refer to different levels of treatment (e.g., outpatient, inpatient, residential)</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 4.F. Refer to others for concurrent treatment' %> value="Sub-Domain 4.F. Refer to others for concurrent treatment">Sub-Domain 4.F. Refer to others for concurrent treatment</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 4.G. Guide treatment planning' %> value="Sub-Domain 4.G. Guide treatment planning">Sub-Domain 4.G. Guide treatment planning</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 4.H. Discuss termination process and issues' %> value="Sub-Domain 4.H. Discuss termination process and issues">Sub-Domain 4.H. Discuss termination process and issuesv</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 4.I. Discuss transitions in group membership' %> value="Sub-Domain 4.I. Discuss transitions in group membership">Sub-Domain 4.I. Discuss transitions in group membership</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 4.J. Follow up after discharge' %> value="Sub-Domain 4.J. Follow up after discharge">Sub-Domain 4.J. Follow up after discharge</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 4.K. Use assessment instrument results to facilitate client decision-making' %> value="Sub-Domain 4.K. Use assessment instrument results to facilitate client decision-making">Sub-Domain 4.K. Use assessment instrument results to facilitate client decision-making</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 4.L. Review and revise the treatment plan' %> value="Sub-Domain 4.L. Review and revise the treatment plan">Sub-Domain 4.L. Review and revise the treatment plan</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 4.M. Engage clients in review of progress toward treatment goals' %> value="Sub-Domain 4.M. Engage clients in review of progress toward treatment goals">Sub-Domain 4.M. Engage clients in review of progress toward treatment goals</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 4.N. Collaborate with other providers and client support systems (documentation and report writing)' %> value="Sub-Domain 4.N. Collaborate with other providers and client support systems (documentation and report writing)">Sub-Domain 4.N. Collaborate with other providers and client support systems (documentation and report writing)</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 4.O. Discuss with clients the integration and maintenance of therapeutic progress' %> value="Sub-Domain 4.O. Discuss with clients the integration and maintenance of therapeutic progress">Sub-Domain 4.O. Discuss with clients the integration and maintenance of therapeutic progress</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 4.P. Educate client to the value of treatment plan compliance' %> value="Sub-Domain 4.P. Educate client to the value of treatment plan compliance">Sub-Domain 4.P. Educate client to the value of treatment plan compliance</option>

 
<!-- Sub-Domain 4.A. Collaborate with client to establish treatment goals and objectives
Sub-Domain 4.B. Establish short- and long-term counseling goals consistent with client’s diagnosis
Sub-Domain 4.C. Identify barriers affecting client goal attainment
Sub-Domain 4.D. Identify strengths that improve the likelihood of goal attainment
Sub-Domain 4.E. Refer to different levels of treatment (e.g., outpatient, inpatient, residential)
Sub-Domain 4.F. Refer to others for concurrent treatment
Sub-Domain 4.G. Guide treatment planning
Sub-Domain 4.H. Discuss termination process and issues
Sub-Domain 4.I. Discuss transitions in group membership
Sub-Domain 4.J. Follow up after discharge
Sub-Domain 4.K. Use assessment instrument results to facilitate client decision-making
Sub-Domain 4.L. Review and revise the treatment plan
Sub-Domain 4.M. Engage clients in review of progress toward treatment goals
Sub-Domain 4.N. Collaborate with other providers and client support systems (documentation and report writing)
Sub-Domain 4.O. Discuss with clients the integration and maintenance of therapeutic progress
Sub-Domain 4.P. Educate client to the value of treatment plan compliance -->
