<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.A. Adjustment related to physical loss/injury/illness' %> value="Sub-Domain 3.A. Adjustment related to physical loss/injury/illness">Sub-Domain 3.A. Adjustment related to physical loss/injury/illness</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.B. Aging/geriatric concerns' %> value="Sub-Domain 3.B. Aging/geriatric concerns">Sub-Domain 3.B. Aging/geriatric concerns</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.C. Behavioral problems' %> value="Sub-Domain 3.C. Behavioral problems">Sub-Domain 3.C. Behavioral problems</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.D. Bullying' %> value="Sub-Domain 3.D. Bullying">Sub-Domain 3.D. Bullying</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.E. Caregiving concerns' %> value="Sub-Domain 3.E. Caregiving concerns">Sub-Domain 3.E. Caregiving concerns</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.F. Cultural adjustments' %> value="Sub-Domain 3.F. Cultural adjustments">Sub-Domain 3.F. Cultural adjustments</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.G. End-of-life issues' %> value="Sub-Domain 3.G. End-of-life issues">Sub-Domain 3.G. End-of-life issues</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.H. Fear and panic' %> value="Sub-Domain 3.H. Fear and panic">Sub-Domain 3.H. Fear and panic</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.I. Financial issues' %> value="Sub-Domain 3.I. Financial issues">Sub-Domain 3.I. Financial issues</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.J. Gender identity development' %> value="Sub-Domain 3.J. Gender identity development">Sub-Domain 3.J. Gender identity development</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.K. Grief/loss' %> value="Sub-Domain 3.K. Grief/loss">Sub-Domain 3.K. Grief/loss</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.L. Hopelessness/depression' %> value="Sub-Domain 3.L. Hopelessness/depression">Sub-Domain 3.L. Hopelessness/depression</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.M. Loneliness/attachment' %> value="Sub-Domain 3.M. Loneliness/attachment">Sub-Domain 3.M. Loneliness/attachment</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.N. Hyper/hypo mental focus' %> value="Sub-Domain 3.N. Hyper/hypo mental focus">Sub-Domain 3.N. Hyper/hypo mental focus</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.O. Intellectual functioning issues' %> value="Sub-Domain 3.O. Intellectual functioning issues">Sub-Domain 3.O. Intellectual functioning issues</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.P. Insomnia/sleep issues' %> value="Sub-Domain 3.P. Insomnia/sleep issues">Sub-Domain 3.P. Insomnia/sleep issues</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.Q. Maladaptive eating behaviors' %> value="Sub-Domain 3.Q. Maladaptive eating behaviors">Sub-Domain 3.Q. Maladaptive eating behaviors</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.R. Remarriage/recommitment' %> value="Sub-Domain 3.R. Remarriage/recommitment">Sub-Domain 3.R. Remarriage/recommitment</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.S. Developmental processes/tasks/issues' %> value="Sub-Domain 3.S. Developmental processes/tasks/issues">Sub-Domain 3.S. Developmental processes/tasks/issues</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.T. Obsessive thoughts/behaviors' %> value="Sub-Domain 3.T. Obsessive thoughts/behaviors">Sub-Domain 3.T. Obsessive thoughts/behaviors</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.U. Occupation and career development' %> value="Sub-Domain 3.U. Occupation and career development">Sub-Domain 3.U. Occupation and career development</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.V. Physical issues related to anxiety' %> value="Sub-Domain 3.V. Physical issues related to anxiety">Sub-Domain 3.V. Physical issues related to anxiety</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.W. Physical issues related to depression' %> value="Sub-Domain 3.W. Physical issues related to depression">Sub-Domain 3.W. Physical issues related to depression</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.X. Physical/emotional issues related to trauma' %> value="Sub-Domain 3.X. Physical/emotional issues related to trauma">Sub-Domain 3.X. Physical/emotional issues related to trauma</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.Y. Process addictions (pornography, gambling)' %> value="Sub-Domain 3.Y. Process addictions (pornography, gambling)">Sub-Domain 3.Y. Process addictions (pornography, gambling)</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.Z. Racism/discrimination/oppression' %> value="Sub-Domain 3.Z. Racism/discrimination/oppression">Sub-Domain 3.Z. Racism/discrimination/oppression</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AA. Religious values conflict' %> value="Sub-Domain 3.AA. Religious values conflict">Sub-Domain 3.AA. Religious values conflict</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AB. Retirement concerns' %> value="Sub-Domain 3.AB. Retirement concerns">Sub-Domain 3.AB. Retirement concerns</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AC. Ruminating and/or intrusive thoughts' %> value="Sub-Domain 3.AC. Ruminating and/or intrusive thoughts">Sub-Domain 3.AC. Ruminating and/or intrusive thoughts</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AD. Separation from primary caregivers' %> value="Sub-Domain 3.AD. Separation from primary caregivers">Sub-Domain 3.AD. Separation from primary caregivers</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AE. Sexual functioning concerns' %> value="Sub-Domain 3.AE. Sexual functioning concerns">Sub-Domain 3.AE. Sexual functioning concernsv</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AF. Sleeping habits' %> value="Sub-Domain 3.AF. Sleeping habits">Sub-Domain 3.AF. Sleeping habits</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AG. Spiritual/existential concerns' %> value="Sub-Domain 3.AG. Spiritual/existential concerns">Sub-Domain 3.AG. Spiritual/existential concerns</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AH. Stress management' %> value="Sub-Domain 3.AH. Stress management">Sub-Domain 3.AH. Stress management</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AI. Substance use/addiction issues' %> value="Sub-Domain 3.AI. Substance use/addiction issues">Sub-Domain 3.AI. Substance use/addiction issues</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AJ. Suicidal thoughts/behaviors' %> value="Sub-Domain 3.AJ. Suicidal thoughts/behaviors">Sub-Domain 3.AJ. Suicidal thoughts/behaviors</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AK. Terminal illness issues' %> value="Sub-Domain 3.AK. Terminal illness issues">Sub-Domain 3.AK. Terminal illness issues</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AL. Visual/auditory hallucinations' %> value="Sub-Domain 3.AL. Visual/auditory hallucinations">Sub-Domain 3.AL. Visual/auditory hallucinations</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AM. Worry and anxiety' %> value="Sub-Domain 3.AM. Worry and anxiety">Sub-Domain 3.AM. Worry and anxiety</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AN. Adoption issues' %> value="Sub-Domain 3.AN. Adoption issues">Sub-Domain 3.AN. Adoption issues</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AO. Blended family issues' %> value="Sub-Domain 3.AO. Blended family issues">Sub-Domain 3.AO. Blended family issues</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AP. Child abuse–related concerns' %> value="Sub-Domain 3.AP. Child abuse–related concerns">Sub-Domain 3.AP. Child abuse–related concerns</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AQ. Child development issues' %> value="Sub-Domain 3.AQ. Child development issues">Sub-Domain 3.AQ. Child development issues</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AR. Dating/relationship problems' %> value="Sub-Domain 3.AR. Dating/relationship problems">Sub-Domain 3.AR. Dating/relationship problems</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AS. Divorce' %> value="Sub-Domain 3.AS. Divorce">Sub-Domain 3.AS. Divorce</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AT. Family abuse/violence (e.g., physical, sexual, emotional)' %> value="Sub-Domain 3.AT. Family abuse/violence (e.g., physical, sexual, emotional)">Sub-Domain 3.AT. Family abuse/violence (e.g., physical, sexual, emotional)</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AU. Interpersonal partner violence concerns' %> value="Sub-Domain 3.AU. Interpersonal partner violence concerns">Sub-Domain 3.AU. Interpersonal partner violence concerns</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AV. Marital/partner communication problems' %> value="Sub-Domain 3.AV. Marital/partner communication problems">Sub-Domain 3.AV. Marital/partner communication problems</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AW. Parenting/co-parenting conflicts' %> value="Sub-Domain 3.AW. Parenting/co-parenting conflicts">Sub-Domain 3.AW. Parenting/co-parenting conflicts</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 3.AX. Emotional dysregulation' %> value="Sub-Domain 3.AX. Emotional dysregulation">Sub-Domain 3.AX. Emotional dysregulation</option>



 
<!-- Sub-Domain 3.A. Adjustment related to physical loss/injury/illness
Sub-Domain 3.B. Aging/geriatric concerns
Sub-Domain 3.C. Behavioral problems
Sub-Domain 3.D. Bullying
Sub-Domain 3.E. Caregiving concerns
Sub-Domain 3.F. Cultural adjustments
Sub-Domain 3.G. End-of-life issues
Sub-Domain 3.H. Fear and panic
Sub-Domain 3.I. Financial issues
Sub-Domain 3.J. Gender identity development
Sub-Domain 3.K. Grief/loss
Sub-Domain 3.L. Hopelessness/depression
Sub-Domain 3.M. Loneliness/attachment
Sub-Domain 3.N. Hyper/hypo mental focus
Sub-Domain 3.O. Intellectual functioning issues
Sub-Domain 3.P. Insomnia/sleep issues
Sub-Domain 3.Q. Maladaptive eating behaviors
Sub-Domain 3.R. Remarriage/recommitment
Sub-Domain 3.S. Developmental processes/tasks/issues
Sub-Domain 3.T. Obsessive thoughts/behaviors
Sub-Domain 3.U. Occupation and career development
Sub-Domain 3.V. Physical issues related to anxiety
Sub-Domain 3.W. Physical issues related to depression
Sub-Domain 3.X. Physical/emotional issues related to trauma
Sub-Domain 3.Y. Process addictions (pornography, gambling)
Sub-Domain 3.Z. Racism/discrimination/oppression
Sub-Domain 3.AA. Religious values conflict
Sub-Domain 3.AB. Retirement concerns
Sub-Domain 3.AC. Ruminating and/or intrusive thoughts
Sub-Domain 3.AD. Separation from primary caregivers
Sub-Domain 3.AE. Sexual functioning concerns
Sub-Domain 3.AF. Sleeping habits
Sub-Domain 3.AG. Spiritual/existential concerns
Sub-Domain 3.AH. Stress management
Sub-Domain 3.AI. Substance use/addiction issues
Sub-Domain 3.AJ. Suicidal thoughts/behaviors
Sub-Domain 3.AK. Terminal illness issues
Sub-Domain 3.AL. Visual/auditory hallucinations
Sub-Domain 3.AM. Worry and anxiety
Sub-Domain 3.AN. Adoption issues
Sub-Domain 3.AO. Blended family issues
Sub-Domain 3.AP. Child abuse–related concerns
Sub-Domain 3.AQ. Child development issues
Sub-Domain 3.AR. Dating/relationship problems
Sub-Domain 3.AS. Divorce
Sub-Domain 3.AT. Family abuse/violence (e.g., physical, sexual, emotional)
Sub-Domain 3.AU. Interpersonal partner violence concerns
Sub-Domain 3.AV. Marital/partner communication problems
Sub-Domain 3.AW. Parenting/co-parenting conflicts
Sub-Domain 3.AX. Emotional dysregulation -->



 


