<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.A. Align intervention with client’s developmental level' %> value="Sub-Domain 5.A. Align intervention with client’s developmental level">Sub-Domain 5.A. Align intervention with client’s developmental level</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.B. Align intervention with counseling modality (individual, couple, family, or group)' %> value="Sub-Domain 5.B. Align intervention with counseling modality (individual, couple, family, or group)">Sub-Domain 5.B. Align intervention with counseling modality (individual, couple, family, or group)</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.C, Align intervention with client population (e.g., veterans, minorities, disenfranchised, disabled)' %> value="Sub-Domain 5.C, Align intervention with client population (e.g., veterans, minorities, disenfranchised, disabled)">Sub-Domain 5.C, Align intervention with client population (e.g., veterans, minorities, disenfranchised, disabled)</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.D. Implement individual counseling in relation to a plan of treatment' %> value="Sub-Domain 5.D. Implement individual counseling in relation to a plan of treatment">Sub-Domain 5.D. Implement individual counseling in relation to a plan of treatment</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.E. Establish therapeuticalliance' %> value="Sub-Domain 5.E. Establish therapeuticalliance">Sub-Domain 5.E. Establish therapeuticalliance</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.F. Apply theory-based counseling intervention(s)' %> value="Sub-Domain 5.F. Apply theory-based counseling intervention(s)">Sub-Domain 5.F. Apply theory-based counseling intervention(s)</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.G. Address addiction issues' %> value="Sub-Domain 5.G. Address addiction issues">Sub-Domain 5.G. Address addiction issues</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.H. Address cultural considerations' %> value="Sub-Domain 5.H. Address cultural considerations">Sub-Domain 5.H. Address cultural considerations</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.I. Address family composition and cultural considerations' %> value="Sub-Domain 5.I. Address family composition and cultural considerations">Sub-Domain 5.I. Address family composition and cultural considerations</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.J. Evaluate and explain systemic patterns of interaction' %> value="Sub-Domain 5.J. Evaluate and explain systemic patterns of interaction">Sub-Domain 5.J. Evaluate and explain systemic patterns of interaction</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.K. Explore family member interaction' %> value="Sub-Domain 5.K. Explore family member interaction">Sub-Domain 5.K. Explore family member interaction</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.L. Explore religious and spiritual values' %> value="Sub-Domain 5.L. Explore religious and spiritual values">Sub-Domain 5.L. Explore religious and spiritual values</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.M. Guide clients in the development of skills or strategies for dealing with their problems' %> value="Sub-Domain 5.M. Guide clients in the development of skills or strategies for dealing with their problems">Sub-Domain 5.M. Guide clients in the development of skills or strategies for dealing with their problems</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.N. Help clients develop support systems' %> value="Sub-Domain 5.N. Help clients develop support systems">Sub-Domain 5.N. Help clients develop support systems</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.O. Help facilitate clients’ motivation to make the changes they desire' %> value="Sub-Domain 5.O. Help facilitate clients’ motivation to make the changes they desire">Sub-Domain 5.O. Help facilitate clients’ motivation to make the changes they desire</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.P. Improveinteractionalpatterns' %> value="Sub-Domain 5.P. Improveinteractionalpatterns">Sub-Domain 5.P. Improveinteractionalpatterns</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.Q. Provide crisis intervention' %> value="Sub-Domain 5.Q. Provide crisis intervention">Sub-Domain 5.Q. Provide crisis intervention</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.R. Educate client about transference and defense mechanisms' %> value="Sub-Domain 5.R. Educate client about transference and defense mechanisms">Sub-Domain 5.R. Educate client about transference and defense mechanisms</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.S. Facilitate trust and safety' %> value="Sub-Domain 5.S. Facilitate trust and safety">Sub-Domain 5.S. Facilitate trust and safety</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.T. Build communication skills' %> value="Sub-Domain 5.T. Build communication skills">Sub-Domain 5.T. Build communication skills</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.U. Develop conflict resolutionstrategies' %> value="Sub-Domain 5.U. Develop conflict resolutionstrategies">Sub-Domain 5.U. Develop conflict resolutionstrategies</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.V. Developsafetyplans' %> value="Sub-Domain 5.V. Developsafetyplans">Sub-Domain 5.V. Developsafetyplans</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.W. Facilitate systemic change' %> value="Sub-Domain 5.W. Facilitate systemic change">Sub-Domain 5.W. Facilitate systemic change</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.X. Provide distance counseling or telemental health' %> value="Sub-Domain 5.X. Provide distance counseling or telemental health">Sub-Domain 5.X. Provide distance counseling or telemental health</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.Y. Provide education resources (e.g., stress management, assertiveness training, divorce adjustment)' %> value="Sub-Domain 5.Y. Provide education resources (e.g., stress management, assertiveness training, divorce adjustment)">Sub-Domain 5.Y. Provide education resources (e.g., stress management, assertiveness training, divorce adjustment)</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.Z. Provide psychoeducation for client' %> value="Sub-Domain 5.Z. Provide psychoeducation for client">Sub-Domain 5.Z. Provide psychoeducation for client</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AA. Summarize' %> value="Sub-Domain 5.AA. Summarize">Sub-Domain 5.AA. Summarize</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AB. Reframe/redirect' %> value="Sub-Domain 5.AB. Reframe/redirect">Sub-Domain 5.AB. Reframe/redirect</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AC. Facilitate empathic responses' %> value="Sub-Domain 5.AC. Facilitate empathic responses">Sub-Domain 5.AC. Facilitate empathic responses</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AD. Use self-disclosure' %> value="Sub-Domain 5.AD. Use self-disclosure">Sub-Domain 5.AD. Use self-disclosure</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AE. Use constructive confrontation' %> value="Sub-Domain 5.AE. Use constructive confrontation">Sub-Domain 5.AE. Use constructive confrontation</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AF. Facilitate awareness of here-and-now interactions' %> value="Sub-Domain 5.AF. Facilitate awareness of here-and-now interactions">Sub-Domain 5.AF. Facilitate awareness of here-and-now interactions</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AG. Facilitate resolution of interpersonal conflict' %> value="Sub-Domain 5.AG. Facilitate resolution of interpersonal conflict">Sub-Domain 5.AG. Facilitate resolution of interpersonal conflict</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AH. Use linking and blocking in a group context' %> value="Sub-Domain 5.AH. Use linking and blocking in a group context">Sub-Domain 5.AH. Use linking and blocking in a group context</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AI. Management of leader–member dynamics' %> value="Sub-Domain 5.AI. Management of leader–member dynamics">Sub-Domain 5.AI. Management of leader–member dynamics</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AJ. Model giving and receiving of feedback' %> value="Sub-Domain 5.AJ. Model giving and receiving of feedback">Sub-Domain 5.AJ. Model giving and receiving of feedback</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AK. Address impact of extended families' %> value="Sub-Domain 5.AK. Address impact of extended families">Sub-Domain 5.AK. Address impact of extended families</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AL. Contain and manage intense feelings' %> value="Sub-Domain 5.AL. Contain and manage intense feelings">Sub-Domain 5.AL. Contain and manage intense feelings</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AM. Explore the influence of family of origin patterns and themes' %> value="Sub-Domain 5.AM. Explore the influence of family of origin patterns and themes">Sub-Domain 5.AM. Explore the influence of family of origin patterns and themes</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AN. Address the impact of social support network' %> value="Sub-Domain 5.AN. Address the impact of social support network">Sub-Domain 5.AN. Address the impact of social support network</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AO. Use “structured” activities' %> value="Sub-Domain 5.AO. Use “structured” activities">Sub-Domain 5.AO. Use “structured” activities</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AP. Promote and encourage interactions among group members' %> value="Sub-Domain 5.AP. Promote and encourage interactions among group members">Sub-Domain 5.AP. Promote and encourage interactions among group members</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AQ. Promote and encourage interactions with the group leader' %> value="Sub-Domain 5.AQ. Promote and encourage interactions with the group leader">Sub-Domain 5.AQ. Promote and encourage interactions with the group leader</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AR. Use psychoeducation as a part of the group process' %> value="Sub-Domain 5.AR. Use psychoeducation as a part of the group process">Sub-Domain 5.AR. Use psychoeducation as a part of the group process</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AS. Explain phases in the group process' %> value="Sub-Domain 5.AS. Explain phases in the group process">Sub-Domain 5.AS. Explain phases in the group process</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AT. Identify and discuss group themes and patterns' %> value="Sub-Domain 5.AT. Identify and discuss group themes and patterns">Sub-Domain 5.AT. Identify and discuss group themes and patterns</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AU. Create intervention based on the stage of group development' %> value="Sub-Domain 5.AU. Create intervention based on the stage of group development">Sub-Domain 5.AU. Create intervention based on the stage of group development</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AV. Challenge harmful group member behaviors' %> value="Sub-Domain 5.AV. Challenge harmful group member behaviors">Sub-Domain 5.AV. Challenge harmful group member behaviors</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 5.AW. Address the potential interaction of members outside of the group' %> value="Sub-Domain 5.AW. Address the potential interaction of members outside of the group">Sub-Domain 5.AW. Address the potential interaction of members outside of the group</option>

 

<!-- Sub-Domain 5.A. Align intervention with client’s developmental level
Sub-Domain 5.B. Align intervention with counseling modality (individual, couple, family, or group)
Sub-Domain 5.C, Align intervention with client population (e.g., veterans, minorities, disenfranchised, disabled)
Sub-Domain 5.D. Implement individual counseling in relation to a plan of treatment
Sub-Domain 5.E. Establish therapeuticalliance
Sub-Domain 5.F. Apply theory-based counseling intervention(s)
Sub-Domain 5.G. Address addiction issues
Sub-Domain 5.H. Address cultural considerations
Sub-Domain 5.I. Address family composition and cultural considerations
Sub-Domain 5.J. Evaluate and explain systemic patterns of interaction
Sub-Domain 5.K. Explore family member interaction
Sub-Domain 5.L. Explore religious and spiritual values
Sub-Domain 5.M. Guide clients in the development of skills or strategies for dealing with their problems
Sub-Domain 5.N. Help clients develop support systems
Sub-Domain 5.O. Help facilitate clients’ motivation to make the changes they desire
Sub-Domain 5.P. Improveinteractionalpatterns
Sub-Domain 5.Q. Provide crisis intervention
Sub-Domain 5.R. Educate client about transference and defense mechanisms
Sub-Domain 5.S. Facilitate trust and safety
Sub-Domain 5.T. Build communication skills
Sub-Domain 5.U. Develop conflict resolutionstrategies
Sub-Domain 5.V. Developsafetyplans
Sub-Domain 5.W. Facilitate systemic change
Sub-Domain 5.X. Provide distance counseling or telemental health
Sub-Domain 5.Y. Provide education resources (e.g., stress management, assertiveness training, divorce adjustment)
Sub-Domain 5.Z. Provide psychoeducation for client
Sub-Domain 5.AA. Summarize
Sub-Domain 5.AB. Reframe/redirect
Sub-Domain 5.AC. Facilitate empathic responses
Sub-Domain 5.AD. Use self-disclosure
Sub-Domain 5.AE. Use constructive confrontation
Sub-Domain 5.AF. Facilitate awareness of here-and-now interactions
Sub-Domain 5.AG. Facilitate resolution of interpersonal conflict
Sub-Domain 5.AH. Use linking and blocking in a group context
Sub-Domain 5.AI. Management of leader–member dynamics
Sub-Domain 5.AJ. Model giving and receiving of feedback
Sub-Domain 5.AK. Address impact of extended families
Sub-Domain 5.AL. Contain and manage intense feelings
Sub-Domain 5.AM. Explore the influence of family of origin patterns and themes
Sub-Domain 5.AN. Address the impact of social support network
Sub-Domain 5.AO. Use “structured” activities
Sub-Domain 5.AP. Promote and encourage interactions among group members
Sub-Domain 5.AQ. Promote and encourage interactions with the group leader
Sub-Domain 5.AR. Use psychoeducation as a part of the group process
Sub-Domain 5.AS. Explain phases in the group process
Sub-Domain 5.AT. Identify and discuss group themes and patterns
Sub-Domain 5.AU. Create intervention based on the stage of group development
Sub-Domain 5.AV. Challenge harmful group member behaviors
Sub-Domain 5.AW. Address the potential interaction of members outside of the group -->






  


