<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.A. Conduct a biopsychosocial interview' %> value="Sub-Domain 2.A. Conduct a biopsychosocial interview">Sub-Domain 2.A. Conduct a biopsychosocial interview</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.B. Conduct a diagnostic interview' %> value="Sub-Domain 2.B. Conduct a diagnostic interview">Sub-Domain 2.B. Conduct a diagnostic interview</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.C. Conduct cultural formulation interview' %> value="Sub-Domain 2.C. Conduct cultural formulation interview">Sub-Domain 2.C. Conduct cultural formulation interview</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.D. Conduct an initial interview' %> value="Sub-Domain 2.D. Conduct an initial interview">Sub-Domain 2.D. Conduct an initial interview</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.E. Determine diagnosis' %> value="Sub-Domain 2.E. Determine diagnosis">Sub-Domain 2.E. Determine diagnosis</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.F. Perform a Mental Status Exam (MSE)' %> value="Sub-Domain 2.F. Perform a Mental Status Exam (MSE)">Sub-Domain 2.F. Perform a Mental Status Exam (MSE)</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.G. Consider co-occurring diagnoses' %> value="Sub-Domain 2.G. Consider co-occurring diagnoses">Sub-Domain 2.G. Consider co-occurring diagnoses</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.H. Determine level of care needed' %> value="Sub-Domain 2.H. Determine level of care needed">Sub-Domain 2.H. Determine level of care needed</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.I. Determine the appropriate modality of treatment' %> value="Sub-Domain 2.I. Determine the appropriate modality of treatment">Sub-Domain 2.I. Determine the appropriate modality of treatment</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.J. Assess the presenting problem and level of distress' %> value="Sub-Domain 2.J. Assess the presenting problem and level of distress">Sub-Domain 2.J. Assess the presenting problem and level of distress</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.K. Evaluate an individual’s level of mental health functioning' %> value="Sub-Domain 2.K. Evaluate an individual’s level of mental health functioning">Sub-Domain 2.K. Evaluate an individual’s level of mental health functioning</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.L. Screen clients for appropriate services' %> value="Sub-Domain 2.L. Screen clients for appropriate services">Sub-Domain 2.L. Screen clients for appropriate services</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.M. Select, use, and interpret appropriate assessment instruments' %> value="Sub-Domain 2.M. Select, use, and interpret appropriate assessment instruments">Sub-Domain 2.M. Select, use, and interpret appropriate assessment instruments</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.N. Use formal and informal observations' %> value="Sub-Domain 2.N. Use formal and informal observations">Sub-Domain 2.N. Use formal and informal observations</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.O. Assess for trauma' %> value="Sub-Domain 2.O. Assess for trauma">Sub-Domain 2.O. Assess for trauma</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.P. Assess substance use' %> value="Sub-Domain 2.P. Assess substance use">Sub-Domain 2.P. Assess substance use</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.Q. Obtain client self-reports' %> value="Sub-Domain 2.Q. Obtain client self-reports">Sub-Domain 2.Q. Obtain client self-reports</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.R. Evaluate interactional dynamics' %> value="Sub-Domain 2.R. Evaluate interactional dynamics">Sub-Domain 2.R. Evaluate interactional dynamics</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.S. Conduct ongoing assessment for at-risk behaviors (i.e., suicide, homicide, self/other-injury, and relationship violence)' %> value="Sub-Domain 2.S. Conduct ongoing assessment for at-risk behaviors (i.e., suicide, homicide, self/other-injury, and relationship violence)">Sub-Domain 2.S. Conduct ongoing assessment for at-risk behaviors (i.e., suicide, homicide, self/other-injury, and relationship violence)</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.T. Use pre-test and post-test measures to assess outcomes' %> value="Sub-Domain 2.T. Use pre-test and post-test measures to assess outcomes">Sub-Domain 2.T. Use pre-test and post-test measures to assess outcomes</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 2.U. Evaluate counseling effectiveness' %> value="Sub-Domain 2.U. Evaluate counseling effectiveness">Sub-Domain 2.U. Evaluate counseling effectiveness</option>




<!-- Sub-Domain 2.A. Conduct a biopsychosocial interview
Sub-Domain 2.B. Conduct a diagnostic interview
Sub-Domain 2.C. Conduct cultural formulation interview
Sub-Domain 2.D. Conduct an initial interview
Sub-Domain 2.E. Determine diagnosis
Sub-Domain 2.F. Perform a Mental Status Exam (MSE)
Sub-Domain 2.G. Consider co-occurring diagnoses
Sub-Domain 2.H. Determine level of care needed
Sub-Domain 2.I. Determine the appropriate modality of treatment
Sub-Domain 2.J. Assess the presenting problem and level of distress
Sub-Domain 2.K. Evaluate an individual’s level of mental health functioning
Sub-Domain 2.L. Screen clients for appropriate services
Sub-Domain 2.M. Select, use, and interpret appropriate assessment instruments
Sub-Domain 2.N. Use formal and informal observations
Sub-Domain 2.O. Assess for trauma
Sub-Domain 2.P. Assess substance use
Sub-Domain 2.Q. Obtain client self-reports
Sub-Domain 2.R. Evaluate interactional dynamics
Sub-Domain 2.S. Conduct ongoing assessment for at-risk behaviors (i.e., suicide, homicide, self/other-injury, and relationship violence)
Sub-Domain 2.T. Use pre-test and post-test measures to assess outcomes
Sub-Domain 2.U. Evaluate counseling effectiveness -->



 



 


