<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 6.A. Awareness of self and impact on clients' %> value="Sub-Domain 6.A. Awareness of self and impact on clients">Sub-Domain 6.A. Awareness of self and impact on clients</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 6.B. Genuineness' %> value="Sub-Domain 6.B. Genuineness">Sub-Domain 6.B. Genuineness</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 6.C. Congruence' %> value="Sub-Domain 6.C. Congruence">Sub-Domain 6.C. Congruence</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 6.D. Demonstrate knowledge of and sensitivity to gender orientation and gender issues' %> value="Sub-Domain 6.D. Demonstrate knowledge of and sensitivity to gender orientation and gender issues">Sub-Domain 6.D. Demonstrate knowledge of and sensitivity to gender orientation and gender issues</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 6.E. Demonstrate knowledge of and sensitivity to multicultural issues' %> value="Sub-Domain 6.E. Demonstrate knowledge of and sensitivity to multicultural issues">Sub-Domain 6.E. Demonstrate knowledge of and sensitivity to multicultural issues</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 6.F. Demonstrate conflict tolerance and resolution' %> value="Sub-Domain 6.F. Demonstrate conflict tolerance and resolution">Sub-Domain 6.F. Demonstrate conflict tolerance and resolution</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 6.G. Empathic attunement' %> value="Sub-Domain 6.G. Empathic attunement">Sub-Domain 6.G. Empathic attunement</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 6.H. Empathic responding' %> value="Sub-Domain 6.H. Empathic responding">Sub-Domain 6.H. Empathic responding</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 6.I. Foster the emergence of group therapeutic factors' %> value="Sub-Domain 6.I. Foster the emergence of group therapeutic factors">Sub-Domain 6.I. Foster the emergence of group therapeutic factors</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 6.J. Non-judgmental stance' %> value="Sub-Domain 6.J. Non-judgmental stance">Sub-Domain 6.J. Non-judgmental stance</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 6.K. Positive regard' %> value="Sub-Domain 6.K. Positive regard">Sub-Domain 6.K. Positive regard</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 6.L. Respect and acceptance for diversity' %> value="Sub-Domain 6.L. Respect and acceptance for diversity">Sub-Domain 6.L. Respect and acceptance for diversity</option>
<option <%= 'selected' if @casequestions.sub_domain == 'Sub-Domain 6.M. Use foundational listening, attending, and reflecting skills' %> value="Sub-Domain 6.M. Use foundational listening, attending, and reflecting skills">Sub-Domain 6.M. Use foundational listening, attending, and reflecting skills</option>

 

<!-- Sub-Domain 6.A. Awareness of self and impact on clients
Sub-Domain 6.B. Genuineness
Sub-Domain 6.C. Congruence
Sub-Domain 6.D. Demonstrate knowledge of and sensitivity to gender orientation and gender issues
Sub-Domain 6.E. Demonstrate knowledge of and sensitivity to multicultural issues
Sub-Domain 6.F. Demonstrate conflict tolerance and resolution
Sub-Domain 6.G. Empathic attunement
Sub-Domain 6.H. Empathic responding
Sub-Domain 6.I. Foster the emergence of group therapeutic factors
Sub-Domain 6.J. Non-judgmental stance
Sub-Domain 6.K. Positive regard
Sub-Domain 6.L. Respect and acceptance for diversity
Sub-Domain 6.M. Use foundational listening, attending, and reflecting skills -->